
@model IEnumerable<Burial>

<br />
<br />

<br />
<br />

<br />
<br />
<br />
<br />

<br />
<br />

<br />
<br />
@foreach (var x in Model)
{ 
<form asp-action="EditBurialPost" method="post">
    <div asp-validation-summary="All">

        <input hidden asp-for="@x.OurId" value="@x.OurId" />

        <div>
            <label asp-for="@x.BurialId"></label>
            <input asp-for="@x.BurialId" value="@x.BurialId" />
        </div>

        <div>
            <label asp-for="@x.BurialSiteId"></label>
            <input asp-for="@x.BurialSiteId" value="@x.BurialSiteId" />
        </div>

        <div>
            <label asp-for="@x.BurialLocationNs"></label>
            <input asp-for="@x.BurialLocationNs" value="@x.BurialLocationNs" />
        </div>

        <div>
            <label asp-for="@x.BurialLocationEw"></label>
            <input asp-for="@x.BurialLocationEw" value="@x.BurialLocationEw" />
        </div>

        <div>
            <label asp-for="@x.LowPairNs"></label>
            <input asp-for="@x.LowPairNs" value="@x.LowPairNs" />
        </div>

        <div>
            <label asp-for="@x.HighPairNs"></label>
            <input asp-for="@x.HighPairNs" value="@x.HighPairNs" />
        </div>

        <div>
            <label asp-for="@x.LowPairEw"></label>
            <input asp-for="@x.LowPairEw" value="@x.LowPairEw" />
        </div>

        <div>
            <label asp-for="@x.HighPairEw"></label>
            <input asp-for="@x.HighPairEw" value="@x.HighPairEw" />
        </div>

        <div>
            <label asp-for="@x.BurialSubplot"></label>
            <input asp-for="@x.BurialSubplot" value="@x.BurialSubplot" />
        </div>

        <div>
            <label asp-for="@x.BurialDepthMeters"></label>
            <input asp-for="@x.BurialDepthMeters" value="@x.BurialDepthMeters" />
        </div>

        <div>
            <label asp-for="@x.SouthToHead"></label>
            <input asp-for="@x.SouthToHead" value="@x.SouthToHead" />
        </div>

        <div>
            <label asp-for="@x.SouthToFeet"></label>
            <input asp-for="@x.SouthToFeet" value="@x.SouthToFeet" />
        </div>

        <div>
            <label asp-for="@x.WestToHeadMeters"></label>
            <input asp-for="@x.WestToHeadMeters" value="@x.WestToHeadMeters" />
        </div>
        <div>
            <label asp-for="@x.WestToFeet"></label>
            <input asp-for="@x.WestToFeet" value="@x.WestToFeet" />
        </div>

        <div>
            <label asp-for="@x.FaceBundle"></label>
            <input asp-for="@x.FaceBundle" value="@x.FaceBundle" />
        </div>

        <div>
            <label asp-for="@x.BurialWrapping"></label>
            <input asp-for="@x.BurialWrapping" value="@x.BurialWrapping" />
        </div>

        <div>
            <label asp-for="@x.BurialSituation"></label>
            <input asp-for="@x.BurialSituation" value="@x.BurialSituation" />
        </div>

        <div>
            <label asp-for="@x.Cluster"></label>
            <input asp-for="@x.Cluster" value="@x.Cluster" />
        </div>

        <div>
            <label asp-for="@x.BurialLengthMeters"></label>
            <input asp-for="@x.BurialLengthMeters" value="@x.BurialLengthMeters" />
        </div>

        <div>
            <label asp-for="@x.BurialNumber"></label>
            <input asp-for="@x.BurialNumber" value="@x.BurialNumber" />
        </div>

        <div>
            <label asp-for="@x.SampleNumber"></label>
            <input asp-for="@x.SampleNumber" value="@x.SampleNumber" />
        </div>

        <div>
            <label asp-for="@x.GenderGe"></label>
            <input asp-for="@x.GenderGe" value="@x.GenderGe" />
        </div>

        <div>
            <label asp-for="@x.GeFunctionTotal"></label>
            <input asp-for="@x.GeFunctionTotal" value="@x.GeFunctionTotal" />
        </div>

        <div>
            <label asp-for="@x.GenderBodyCol"></label>
            <input asp-for="@x.GenderBodyCol" value="@x.GenderBodyCol" />
        </div>

        <div>
            <label asp-for="@x.Osteophytosis"></label>
            <input asp-for="@x.Osteophytosis" value="@x.Osteophytosis" />
        </div>

        <div>
            <label asp-for="@x.Robust"></label>
            <input asp-for="@x.Robust" value="@x.Robust" />
        </div>

        <div>
            <label asp-for="@x.ArtifactsDescription"></label>
            <input asp-for="@x.ArtifactsDescription" value="@x.ArtifactsDescription" />
        </div>

        <div>
            <label asp-for="@x.HairColor"></label>
            <input asp-for="@x.HairColor" value="@x.HairColor" />
        </div>

        <div>
            <label asp-for="@x.PreservationIndex"></label>
            <input asp-for="@x.PreservationIndex" value="@x.PreservationIndex" />
        </div>

        <div>
            <label asp-for="@x.BurialPreservation"></label>
            <input asp-for="@x.BurialPreservation" value="@x.BurialPreservation" />
        </div>

        <div>
            <label asp-for="@x.HairTaken"></label>
            <input asp-for="@x.HairTaken" value="@x.HairTaken" />
        </div>

        <div>
            <label asp-for="@x.SoftTissueTaken"></label>
            <input asp-for="@x.SoftTissueTaken" value="@x.SoftTissueTaken" />
        </div>

        <div>
            <label asp-for="@x.BoneTaken"></label>
            <input asp-for="@x.BoneTaken" value="@x.BoneTaken" />
        </div>

        <div>
            <label asp-for="@x.ToothTaken"></label>
            <input asp-for="@x.ToothTaken" value="@x.ToothTaken" />
        </div>

        <div>
            <label asp-for="@x.TextileTaken"></label>
            <input asp-for="@x.TextileTaken" value="@x.TextileTaken" />
        </div>

        <div>
            <label asp-for="@x.DescriptionOfTaken"></label>
            <input asp-for="@x.DescriptionOfTaken" value="@x.DescriptionOfTaken" />
        </div>

        <div>
            <label asp-for="@x.ArtifactFound"></label>
            <input asp-for="@x.ArtifactFound" value="@x.ArtifactFound" />
        </div>

        <div>
            <label asp-for="@x.EstimateAge"></label>
            <input asp-for="@x.EstimateAge" value="@x.EstimateAge" />
        </div>

        <div>
            <label asp-for="@x.AgeCategory"></label>
            <input asp-for="@x.AgeCategory" value="@x.AgeCategory" />
        </div>

        <div>
            <label asp-for="@x.EstimateLivingStature"></label>
            <input asp-for="@x.EstimateLivingStature" value="@x.EstimateLivingStature" />
        </div>

        <div>
            <label asp-for="@x.ToothAttrition"></label>
            <input asp-for="@x.ToothAttrition" value="@x.ToothAttrition" />
        </div>

        <div>
            <label asp-for="@x.PathologyAnomalies"></label>
            <input asp-for="@x.PathologyAnomalies" value="@x.PathologyAnomalies" />
        </div>

        <div>
            <label asp-for="@x.EpiphysealUnion"></label>
            <input asp-for="@x.EpiphysealUnion" value="@x.EpiphysealUnion" />
        </div>

        <div>
            <label asp-for="@x.BodyAnalysis"></label>
            <input asp-for="@x.BodyAnalysis" value="@x.BodyAnalysis" />
        </div>

        <div>
            <label asp-for="@x.YearFound"></label>
            <input asp-for="@x.YearFound" value="@x.YearFound" />
        </div>

        <div>
            <label asp-for="@x.MonthFound"></label>
            <input asp-for="@x.MonthFound" value="@x.MonthFound" />
        </div>

        <div>
            <label asp-for="@x.DayFound"></label>
            <input asp-for="@x.DayFound" value="@x.DayFound" />
        </div>

        <div>
            <label asp-for="@x.HeadDirection"></label>
            <input asp-for="@x.HeadDirection" value="@x.HeadDirection" />
        </div>

        <div>
            <label asp-for="@x.Gamous"></label>
            <input asp-for="@x.Gamous" value="@x.Gamous" />
        </div>

        <div>
            <label asp-for="@x.FieldBook"></label>
            <input asp-for="@x.FieldBook" value="@x.FieldBook" />
        </div>

        <div>
            <label asp-for="@x.FieldBookPageNumber"></label>
            <input asp-for="@x.FieldBookPageNumber" value="@x.FieldBookPageNumber" />
        </div>

        <div>
            <label asp-for="@x.FieldBookNotes"></label>
            <input asp-for="@x.FieldBookNotes" value="@x.FieldBookNotes" />
        </div>

        <div>
            <label asp-for="@x.ByuHasSample"></label>
            <input asp-for="@x.ByuHasSample" value="@x.ByuHasSample" />
        </div>

        <div>
            <label asp-for="@x.OsteologyUnknownComment"></label>
            <input asp-for="@x.OsteologyUnknownComment" value="@x.OsteologyUnknownComment" />
        </div>

        <div>
            <label asp-for="@x.TemporalMandibularJointOsteoarthritisTmjOa"></label>
            <input asp-for="@x.TemporalMandibularJointOsteoarthritisTmjOa" value="@x.TemporalMandibularJointOsteoarthritisTmjOa" />
        </div>

        <div>
            <label asp-for="@x.PostcraniaAtMagazine"></label>
            <input asp-for="@x.PostcraniaAtMagazine" value="@x.PostcraniaAtMagazine" />
        </div>

        <div>
            <label asp-for="@x.LinearHypoplasiaEnamel"></label>
            <input asp-for="@x.LinearHypoplasiaEnamel" value="@x.LinearHypoplasiaEnamel" />
        </div>

        <div>
            <label asp-for="@x.PostcraniaTrauma"></label>
            <input asp-for="@x.PostcraniaTrauma" value="@x.PostcraniaTrauma" />
        </div>

        <div>
            <label asp-for="@x.Area"></label>
            <input asp-for="@x.Area" value="@x.Area" />
        </div>

        <div>
            <label asp-for="@x.Tomb"></label>
            <input asp-for="@x.Tomb" value="@x.Tomb" />
        </div>

        <div>
            <label asp-for="@x.Rack"></label>
            <input asp-for="@x.Rack" value="@x.Rack" />
        </div>

        <div>
            <label asp-for="@x.Shelf"></label>
            <input asp-for="@x.Shelf" value="@x.Shelf" />
        </div>

        <div>
            <label asp-for="@x.OsteologyNotes"></label>
            <input asp-for="@x.OsteologyNotes" value="@x.OsteologyNotes" />
        </div>

        <div>
            <label asp-for="@x.SampleTaken"></label>
            <input asp-for="@x.SampleTaken" value="@x.SampleTaken" />
        </div>

        <div>
            <label asp-for="@x.SexMethod"></label>
            <input asp-for="@x.SexMethod" value="@x.SexMethod" />
        </div>

        <div>
            <label asp-for="@x.AgeMethod"></label>
            <input asp-for="@x.AgeMethod" value="@x.AgeMethod" />
        </div>

        <div>
            <label asp-for="@x.BurialArtifactDescription"></label>
            <input asp-for="@x.BurialArtifactDescription" value="@x.BurialArtifactDescription" />
        </div>

        <div>
            <label asp-for="@x.BuriedWithArtifacts"></label>
            <input asp-for="@x.BuriedWithArtifacts" value="@x.BuriedWithArtifacts" />
        </div>


    </div>

    <button type="submit">Submit your changes!</button>
</form>
}

