@model LegViewModel


<div>
    <!--displays the associated leg info for the burial that is selected if it has any-->

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1>Leg Information</h1>
    <table class="table table-dark table-striped table-hover">
        <thead class="thead-light table-bordered table-condensed">
            <tr>
                <th>Burial ID</th>
                <th>Femur Head</th>
                <th>Femur Diameter</th>
                <th>Femur Length</th>
                <th>Tibia Length</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Leg)
            {
            <tr>
                <td>@x.OurId</td>
                <td>@x.FemurHead</td>
                <td>@x.FemurDiameter</td>
                <td>@x.FemurLength</td>
                <td>@x.TibiaLength</td>



            </tr>

            }
        </tbody>
    </table>
    Allows the user to return to the "View Details" page for a specific burial
    @*foreach (var x in Model.Leg)
        {
        <form asp-for="ViewDetails" method="get">
            <input hidden value="x.OurId" />
            <button type="submit">Click here to return to burial details.</button>
        </form>

        }*@

    <!--a button to take the user back to the burial list-->
    <form asp-action="BurialList" method="post">
        <button class="btn-info" type="submit">Burial list</button>
    </form>
</div>
